/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container, .main-container {
    width: 80%;
    margin: 0 auto;
}

.float-left {
    float: left;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

/* header */
header {
    height: 550px;
    background-image: url(../img/background-header.png);
    background-color: #0c325a;
    background-position: 112% 105%;
    background-size: 65% auto;
    background-repeat: no-repeat;
}

/* nav */
nav {
    width: 100%;
    height: 60px;
    line-height: 60px;
}
.nav-logo {
    width: 15%;
}
.nav-logo > img {
    vertical-align: middle;
}

.nav-link {
    width: 45%;
}
.link li {
    display: inline-block;
    list-style: none;
    padding: 0 8px;
}
.link a, .jumbotron a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
}

.link a:hover:not(.btn) {
    color: #7cbb02;
}

.nav-right {
    width: 40%;
    text-align: right;
}

/* buttons */
.btn {
    padding: 10px 25px;
    border-radius: 5px;
}

.btn-blue {
    border: 1px solid white;
}

.btn-blue:hover {
    border: 1px solid #7cbb02;
    background-color: white;
    color: #0c325a;
}

.btn-lg {
    padding: 20px 25px;
}

.btn-green {
    border: 1px solid #7cbb02;
    background-color: #7cbb02;
}

.btn-green:hover {
    border: 1px solid #7cbb02;
    background-color: white;
    color: #7cbb02;
}

/* jumbotron */
.jumbotron {
    position: absolute;
    top: 50%;
    width: 50%;
}

h1 {
    margin-bottom: 30px;
    color: white;
}

/* main */
main > hr {
    margin: 0 10px;
    border: 1px solid lightgrey ;
}

/* description */
.description {
    background-color: #d3d3d3;
    text-align: center;
    padding: 30px 0;
}

.description > h2 {
    margin-bottom: 10px;
}

.description > p, section > p, .data-text > p, .footer-list li{
    color: #818181;
}

/* main-container */
.main-container {
    padding: 20px 0 20px 20px;
}

section {
    width: calc(33.33% - 20px);
    height: 100%;
    padding: 10px 0 0 0;
    text-align: center;
}

section > h2 {
    color: #7cbb02;
}

section > hr {
    margin: 20px 130px;
}

.section-left > img {
    width: 34%;
}

.section-center > img {
    width: 58%;
}

.section-right > img {
    width: 40%;
}

.section-center {
    margin: 0 20px;
}

/* data-container */
.data-container {
    width: 100%;
    padding: 50px 200px;
}

.data {
    width: calc(50% - 50px);
}

.data-img {
    margin-right: 50px;
}

.data-img > img {
    max-width: 100%;
}

.data-text {
    margin-left: 50px ;
}

.data-text > h2 {
    font-size: 33px;
}

.data-text > p {
    font-size: 20px;
    margin: 20px 0 30px 0;
}

/* footer */
footer {
    width: 100%;
    height: 150px;
    line-height: 150px;
    padding: 0 150px;
    background-color: #d3d3d3;
}

.footer-title {
    width: 30%;
    height: 100%;
}

.footer-title > h2 {
    font-size: 33px;
}

.footer-list {
    float: right;
    width: 70%;
    height: 100%;
    position: relative;
}

.footer-list > ul {
    position: absolute;
    right: 0;
}

li > select {
    padding: 0 80px 0 0;
    border: 0;
    border-bottom: 1px solid #818181;
    font-size: 18px;
    color: #818181;
    background-color: #d3d3d3;
}